@import "~bootstrap/scss/bootstrap";

.fixed-bottom {
    position: fixed;
    margin: auto;
    height: 100px;
    width: auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.navbar-light .navbar-brand {
    color: #198754 !important;
}